.lang-switch {
  font-size: 16px;
  padding: 0 3px;
  a {
    text-decoration: none;
    color: #000000;
    padding: 0.7em;
    display: inline-block;
    & + a {
      position: relative;
      &:before {
        content: "";
        height: 1em;
        top: 1.1em;
        width: 1px;
        background-color: currentColor;
        position: absolute;
        left: -0.2em;
      }
    }
  }
  text-transform: capitalize;
  position: absolute;
  top: 0;
  right: 0;
}
