<footer class="container p-6 mx-auto flex justify-between items-center">
  <span class="text-sm font-light">
    {{ if (isset .Site.Params "copyright") }}
    {{ .Site.Params.copyright }}
    {{ else }}
    © {{ .Site.Title }} {{ dateFormat "2006" now }} 
    {{ end }}
  </span>
  <span onclick="window.scrollTo({top: 0, behavior: 'smooth'})" class="p-1 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M18 15l-6 -6l-6 6h12" />
    </svg>
  </span>
</footer>

{{ if .Site.Params.enableSearch }}
{{- partial "search-ui.html" . -}}
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

<script>
  const a=document.querySelector(".dropdownButton"),b=document.querySelector(".dropdownButtonMD"),c=document.querySelector(".dropdownArrow"),d=document.querySelector(".dropdownArrowMD"),e=document.querySelector(".dropdownDisplay"),f=document.querySelector(".dropdownDisplayMD");function g(){e.classList.contains("hidden")?(c.classList.add("rotate-180"),e.classList.remove("hidden")):(c.classList.remove("rotate-180"),e.classList.add("hidden"))}function h(){f.classList.contains("hidden")?(d.classList.add("rotate-180"),f.classList.remove("hidden")):(d.classList.remove("rotate-180"),f.classList.add("hidden"))}a.addEventListener("click",g),b.addEventListener("click",h);
  (function(){var x=$(".slide");i=-1;function a(){++i;x.eq(i%x.length).fadeIn(1e3).css("display","flex").delay(3e3).fadeOut(1e3,a)}a()})()
</script>

{{ if .Site.Params.darkModeToggle }}
<script>
  const darkmode = document.querySelector('.toggle-dark-mode');
  const darkmodeMD = document.querySelector('.toggle-dark-mode-md');
  const o = document.querySelector('.offering')
  const od = document.querySelector('.offeringDark')

  function toggleOffering(mode) {
    if (od == null || o == null) {
      return
    }
    if (mode == 'light') {
      if (od && !od.classList.contains("hidden")) {
        od.classList.add("hidden");
      } 
      o.classList.remove("hidden");
    } else {
      if (o && !o.classList.contains("hidden")) {
        o.classList.add("hidden");
      } 
      od.classList.remove("hidden");
    }
  }

  function toggleDarkMode() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark')
      toggleOffering('light')
      localStorage.setItem('darkmode', 'light')
    } else {
      document.documentElement.classList.add('dark')
      toggleOffering('dark')
      localStorage.setItem('darkmode', 'dark')
    }
  }
  if (darkmodeMD) {
    darkmodeMD.addEventListener('click', toggleDarkMode);
  }
  if (darkmode) {
    darkmode.addEventListener('click', toggleDarkMode);
  }

  const isDark = localStorage.getItem('darkmode');
  if(isDark && isDark === 'dark') {
    toggleDarkMode();
  }
</script>
{{ end }}
