<footer class="container p-6 mx-auto flex justify-between items-center">
  <span class="text-sm font-light">
    {{ if (isset .Site.Params "copyright") }}
    {{ .Site.Params.copyright }}
    {{ else }}
    © {{ .Site.Title }} {{ dateFormat "2006" now }} 
    {{ end }}
  </span>
  <span onclick="window.scrollTo({top: 0, behavior: 'smooth'})" class="p-1 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M18 15l-6 -6l-6 6h12" />
    </svg>
  </span>
</footer>

{{ if .Site.Params.enableSearch }}
{{- partial "search-ui.html" . -}}
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}

<script>
  const languageSelectorButton = document.querySelector('.dropdownButton');
  const languageSelectorButtonMD = document.querySelector('.dropdownButtonMD');
  const languageSelectorArrow = document.querySelector('.dropdownArrow');
  const languageSelectorArrowMD = document.querySelector('.dropdownArrowMD');
  const languageSelectorDisplay = document.querySelector('.dropdownDisplay');
  const languageSelectorDisplayMD = document.querySelector('.dropdownDisplayMD');

  function toggleLanguageDisplay() {
    if (languageSelectorDisplay.classList.contains('hidden')) {
      languageSelectorArrow.classList.add('rotate-180')
      languageSelectorDisplay.classList.remove('hidden')
    } else {
      languageSelectorArrow.classList.remove('rotate-180')
      languageSelectorDisplay.classList.add('hidden')
    }
  }

  function toggleLanguageDisplayMD() {
    if (languageSelectorDisplayMD.classList.contains('hidden')) {
      languageSelectorArrowMD.classList.add('rotate-180')
      languageSelectorDisplayMD.classList.remove('hidden')
    } else {
      languageSelectorArrowMD.classList.remove('rotate-180')
      languageSelectorDisplayMD.classList.add('hidden')
    }
  }

  languageSelectorButton.addEventListener('click', toggleLanguageDisplay);
  languageSelectorButtonMD.addEventListener('click', toggleLanguageDisplayMD);

</script>
{{ if .Site.Params.darkModeToggle }}

<script>
  // On page load or when changing themes
  const darkmode = document.querySelector('.toggle-dark-mode');
  const darkmodeMD = document.querySelector('.toggle-dark-mode-md');

  function toggleDarkMode() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark')
      localStorage.setItem('darkmode', 'light')
    } else {
      document.documentElement.classList.add('dark')
      localStorage.setItem('darkmode', 'dark')
    }
  }
  if (darkmodeMD) {
    darkmodeMD.addEventListener('click', toggleDarkMode);
  }
  if (darkmode) {
    darkmode.addEventListener('click', toggleDarkMode);
  }

  const isDark = localStorage.getItem('darkmode');
  if(isDark && isDark === 'dark') {
    toggleDarkMode();
  }
</script>
{{ end }}
