<header class="container flex justify-between md:justify-between gap-4 flex-wrap p-6 mx-auto">
  <a href="{{ .Site.Home.Permalink }}" class="capitalize font-bold text-2xl hover:text-yellow-600 focus:text-yellow-600">
    {{ .Site.Title }}
  </a>

  <ul class="flex flex-column justify-between justify-around md:hidden">
    {{ if .Site.Params.darkModeToggle }}
    <li class="grid place-items-center">
      <span class="toggle-dark-mode inline-block cursor-pointer hover:text-yellow-600">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="12" cy="12" r="3" />
          <line x1="12" y1="5" x2="12" y2="5.01" />
          <line x1="17" y1="7" x2="17" y2="7.01" />
          <line x1="19" y1="12" x2="19" y2="12.01" />
          <line x1="17" y1="17" x2="17" y2="17.01" />
          <line x1="12" y1="19" x2="12" y2="19.01" />
          <line x1="7" y1="17" x2="7" y2="17.01" />
          <line x1="5" y1="12" x2="5" y2="12.01" />
          <line x1="7" y1="7" x2="7" y2="7.01" />
        </svg>
      </span>
    </li>
    {{ end }}

    <li class="grid place-items-center">
      <div class="relative">
        <button class="dropdownButton flex flex-column dark:bg-gray-800 place-items-center block rounded-md bg-white pl-4 focus:outline-none">
          <img src="/{{ .Site.Language.Lang }}_flag.png" alt="{{ .Site.Language.Lang }}">
          <svg class="dropdownArrow h-5 w-5 text-gray-800 dark:text-white transition-transform duration-200 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
        <div class="dropdownDisplay hidden absolute right-0 mt-2 py-2 w-48 z-50 transition-opacity duration-1000 bg-white rounded-md shadow-xl dark:bg-gray-800">
        {{ range sort .AllTranslations }}
        <a class="inline-block w-full px-4 py-2 mt-2 bg-transparent rounded-lg dark:bg-transparentdark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="{{ .Permalink }}" data-lang="{{ .Lang }}" title="{{ .Language.LanguageName }}">
           <div class="flex flex-column place-items-center">
             <img src="/{{ .Lang }}_flag.png" alt="{{ .Lang }}">
             <span class="mx-4">{{ .Language.LanguageName }}</span>
           </div>
        </a>
        {{ end }}
      </div>
    </li>
  </ul>


  <ul class="flex items-center gap-4 lg:gap-6">
    {{ range .Site.Sections }}
      {{ if eq .Language.Lang "id" }}
      <li><a class="hover:text-yellow-600 focus:text-yellow-600" href="{{ .Permalink }}">{{ .Params.judul }}</a></li>
      {{ else }}
      <li><a class="hover:text-yellow-600 focus:text-yellow-600"href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}

    {{ range .Site.Menus.main }}
      <li><a class="hover:text-yellow-600 focus:text-yellow-600"href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}

    {{ if .Site.Params.enableSearch }}
    <li class="grid place-items-center">
      <span class="open-search inline-block cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <circle cx="10" cy="10" r="7" />
          <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
      </span>
    </li>
    {{ end }}

    {{ if .Site.Params.darkModeToggle }}
    <li class="hidden md:grid md:place-items-center">
      <span class="toggle-dark-mode-md inline-block cursor-pointer hover:text-yellow-600">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="12" cy="12" r="3" />
          <line x1="12" y1="5" x2="12" y2="5.01" />
          <line x1="17" y1="7" x2="17" y2="7.01" />
          <line x1="19" y1="12" x2="19" y2="12.01" />
          <line x1="17" y1="17" x2="17" y2="17.01" />
          <line x1="12" y1="19" x2="12" y2="19.01" />
          <line x1="7" y1="17" x2="7" y2="17.01" />
          <line x1="5" y1="12" x2="5" y2="12.01" />
          <line x1="7" y1="7" x2="7" y2="7.01" />
        </svg>
      </span>
    </li>
    {{ end }}

    <li class="hidden md:grid md:place-items-center">
      <div class="relative">
        <button class="dropdownButtonMD flex flex-column dark:bg-gray-800 place-items-center block rounded-md bg-white px-2 focus:outline-none">
          <img src="/{{ .Site.Language.Lang }}_flag.png" alt="{{ .Site.Language.Lang }}">
          <svg class="dropdownArrowMD h-5 w-5 text-gray-800 dark:text-white transition-transform duration-200 transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
        <div class="dropdownDisplayMD hidden absolute right-0 mt-2 py-2 w-48 z-50 transition-opacity duration-1000 bg-white rounded-md shadow-xl dark:bg-gray-800">
        {{ range sort .AllTranslations }}
        <a class="inline-block w-full px-4 py-2 mt-2 bg-transparent rounded-lg dark:bg-transparentdark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="{{ .Permalink }}" data-lang="{{ .Lang }}" title="{{ .Language.LanguageName }}">
           <div class="flex flex-column place-items-center">
             <img src="/{{ .Lang }}_flag.png" alt="{{ .Lang }}">
             <span class="mx-4">{{ .Language.LanguageName }}</span>
           </div>
        </a>
        {{ end }}
      </div>
    </li>
</header>
